.DS_Store
Pods/
build/
DerivedData/
*.pyc
*.zip
*.gitmodules
build_path/
build_products/
upload_dlsym_results
*/*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
xcuserdata
fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit
reports/
fastlane/CodeCoverage/
fastlane/UnitTests/
fastlane/lintMeterics
Example/*.lock
Example/NIWWRDCommon.xcworkspace/
Example/NIWWRDCommon.xcodeproj/